body{
    background-color: #c6c8c8;
    background-position: center top;
    margin: 10px 10px;
    
}
.container{
    text-align: center;
    justify-content: space-between;

}
.case-studies{
    font-family: sans-serif;
    background-color: #fff;

}
.case-section h2{
    padding: 15px 0;

}
.case-section p{
    font-size: 12px;
    color: #909ba1;

}
.case-fellow{

}
.case-wrapper{
    
}
.design{
    font-family:sans-serif ;
    background-color: #fff;


}
.design-section{

}
.design-section h1{
    font-size: 11px;
    font-weight: 100;
    margin: 10px 0;
    padding: 10px 10px;
    color: #909ba1;


}
.design-section h2{
    padding-bottom: 20px;

}
.design-section p{
    font-size: 13px;
    color: #909ba1;
}


.primary-section{
    display: inline-block;
    padding: 12px 30px;
    margin: 20px 25px;
    background-color: orange;
  
  

}
.primary-section a{
    font-size: 13px;
    color: #fff;
    text-decoration: none;
  
}
.primary-sec{
    margin: 0px 20px 25px 20px;
  
}
.image{

}
.footer{
    display: inline-flex;
    justify-content: space-between;
    background-color: grey;
    color: #fff;
    margin: 0px 50px;

}

.footer-logo p{
    font-size: 12px;
    padding: 10px 0px 0px 27px;
}
.footer-navi{
  
    list-style: none;
    display: flex;
    font-size: 17px;
    margin: 10px 10px 10px 10px;
}

.footer-navi li{
    font-size: 14px;
    padding: 0px 2px;

}
 
 




